<div id="sidebar">
  <div id="logo">
    <%= link_to root_path do %>
      <% image_tag "fav-icon.png", id: "logo" %>
    <% end %>
  </div>

  <ul>
    <li><%= link_to "Blog", root_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>

  <ul>
    <li><%= link_to "Social", "#", class: "category" %></li>
    <li><%= link_to "Twitter", "#" %></li>
    <li><%= link_to "Instagram", "#" %></li>
    <li><%= link_to "Github", "#" %></li>
    <li><%= link_to "Email", "#" %></li>
  </ul>

  <% if !user_signed_in? %>
    <p class="sign_in"><%= link_to "Admin login", new_user_session_path %></p>
  <% end %>
</div>
