<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Pistola Peter</h1>
		<p>I just started learning how to code a couple weeks ago... Hope you like my work!</p>
		<p>Veritaserum is about telling it as I see it. Couple things about me...</p>
    <p>It's long-hair-don't-care all day, and I love cooking fire food from all over the world, hip-hop from 10 to 20 years ago, being a rails developer, and wizardry!</p>
    <p>Holler at me at <strong>@pistoleary</strong></p>
	</div>
</div>
