<!DOCTYPE html>
<html>
<head>
  <title>Veritaserum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400, 700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'partials/sidebar' %>

  <div id="main_content">
    <div id="header">

      <% if current_page?(root_path) %>
				<p>Veritaserum</p>
			<% elsif current_page?(about_path) %>
				<p>About Veritaserum</p>
			<% else %>
				<%= link_to "Back to Home", root_path %>
			<% end %>
      <% if user_signed_in? %>
        <div class="buttons">
          <%= link_to "New Post", new_post_path, class: "button" %>
          <button class="button"><%= link_to "Log Out", "#" %></button>
        </div>
      <% end %>

    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>

  </div>





</body>
</html>
